<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ '/ntdatabase/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <div class="wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/about.html">About</a></li>
          <li><a href="{{ site.baseurl }}/gene.html">Gene Information</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <div class="wrapper">
      <p>&copy; {{ site.title }}</p>
    </div>
  </footer>
</body>
</html>